.App {
  text-align: center;
}

.App-logo {
  height: 500px;
  pointer-events: none;
}

.App-body {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-body p {
  margin: 0;
  font-size: 40px;
  color: #000;
}

.menu {
  display: flex;
  flex-direction: row;

  gap: 20px;
}

.menu div {
  font-size: 20px;
  padding: 20px;
  height: 24px;
  cursor: pointer;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  &:hover {
    background-color: rgb(200, 154, 142);
  }
}

.homeAnchor {
  display: flex;
  align-items: center;
}

.homeLogo {
  height: 40px;
}

.App-link {
  color: #61dafb;
}

/* Hue */

.hueGroup {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.lampGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

.lampIcon {
  mask: url(./assets/lampa.svg);
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  display: inline-block !important;
  width: 95px;
  height: 170px;

  &.black {
    background: #000;
  }

  &.green {
    background: rgb(66, 194, 124);
  }

  &.red {
    background: rgb(226, 83, 84);
  }
}

.lampGroup button {
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;

  &:nth-of-type(1) {
    background-color: rgb(66, 194, 124);

    &:active,
    &:hover {
      background-color: rgb(42, 136, 84);
    }
  }

  &:nth-of-type(2) {
    background-color: rgb(226, 83, 84);

    &:active,
    &:hover {
      background-color: rgb(155, 44, 44);
    }
  }

  &:nth-of-type(3) {
    background-color: #f1f1f1;

    &:active,
    &:hover {
      background-color: #ccc;
    }
  }
}

/* Chat */
.chatWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#response {
  width: 500px;
  border-radius: 6px;
  height: 500px;
  resize: none;
  background-color: rgb(255, 218, 209);
  border: 1px solid #ccc;
  padding: 10px;
  user-select: none;
}

#question {
  padding: 10px;
  border-radius: 5px;
}

.chatWrapper button {
  background-color: #f1f1f1;
  color: #000;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;

  &:active,
  &:hover {
    background-color: #ccc;
  }
}
